@font-face {
    font-family: 'russian';
    src: url('russian.ttf');
}

body {
  background-color: #800000;
}

p {
  color: #ffffff;
  font-family: 'russian';
  font-size: 200%;
}   

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.left-bottom-corner {
  bottom: 0;
  right: 0;
  position: fixed;
}

.social-buttons {
  background-color: #800000;
  padding: 20px;
}

img.ak47 {
  width: 100%;
}

div.silueta {
  position: fixed;
  left: 0;
  z-index: 1;
  opacity: 0.2;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

div.silueta:hover {
  opacity: 0.8;
}
